.card {
  display: flex;
  position: relative;
  border-radius: 24px;

  .media {
    width: 40%;
    max-width: 40%;
  }

  .content {
    padding: 24px;
    padding-bottom: 10px;

    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      margin-bottom: 95px;
    }
  }
}
.actions {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 16px;
}
