.projectHeader {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: #fff;
}

.overlap {
  margin-bottom: -10px;
  z-index: 99;
}

.copyToClipboard {
  background-color: #fff;
  border: 1px solid;

  &:hover {
    background-color: #5d5a88;
    border-color: #5d5a88;
    color: #fff;
  }
}
