.managementContainer {
  .title {
    color: #575484;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
  }

  .subtitle {
    color: #ADABC3;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
  }

  .root {
    max-width: 450px;
    border-radius: 20px;
  }

  .content {
    color: #fff;
    height: 320px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0;

    .text {
      padding: 5px;
      width: fit-content;
      background: rgb(178, 178, 178, 0.5);
      font-weight: 700;
      cursor: pointer;
      &:hover {
        background: rgb(178, 178, 178, 0.8);
      }
    }
  }
}
