.homeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;

  background-image: url('/volunteering.jpeg');
  background-repeat: no-repeat;
  background-color: #5d5a88;
  background-size: cover;
  background-position: center;
  & > * {
    margin-bottom: 45px;
  }

  .heroTitle {
    font-weight: 700;
    line-height: 66px;
    color: #fff;
  }
  .heroText {
    max-width: 800px;
  }

  &.homeSecondSection {
    background-color: #f2f1fa;
    color: #5d5a88;
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-between;
    img {
      width: 48%;
      height: 100%;
    }
    .sectionRightContent {
      align-self: center;
      & > * {
        margin-bottom: 20px;
      }
    }
  }
}
