.homeSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6%;
  color: #fff;

  background-image: url('/volunteering.jpeg');
  background-repeat: no-repeat;
  background-color: #5d5a88;
  background-size: cover;
  background-position: center;
  & > * {
    margin-bottom: 45px;
  }

  .heroTitle {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    width: 650px;
    color: #fff;
  }
  .heroText {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 600px;
  }

  .buttonsContainer {
    display: flex;
    width: 400px;
    justify-content: space-between;
    button {
      width: 170px;
      height: 66px;
      font-size: 20px;
      margin-right: 40px;
    }
  }

  &.homeSecondSection {
    background-color: #f2f1fa;
    color: #5d5a88;
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-between;
    img {
      width: 48%;
      height: 100%;
    }
    .sectionRightContent {
      align-self: center;
      & > * {
        margin-bottom: 20px;
      }
    }
  }
}
