.projectsContainer {
  .browseSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f1fa;
    text-align: center;

    .subtitle {
      color: #9795b5;
    }
  }
}
