.donationTitle,
.donationDescription {
  text-align: center;
  color: #adabc3;
  padding-top: 0 !important;
}

.donationIcon {
  text-align: center;
}

.donationButton {
  margin: 0 auto;
  width: 300px;
}
