.footer {
  min-width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 528px;

  .subtitle {
    color: #9795b5;
  }

  .subscription {
    display: flex;
    align-items: center;
  }
  .socials {
    display: flex;

    svg {
      width: 36px;
      height: 36px;
      background: #f2f1fa;
      margin-right: 16px;
      border-radius: 8px;
      color: #8d8ba7;
      padding: 5px;
      cursor: pointer;
    }
  }

  hr {
    width: 95%;
    border: 1px solid #e7e6f2;
    margin: 5px auto;
  }

  .copyright {
    text-align: center;
    color: #9795b5 !important;
  }
}
