.projectData {
  margin: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 2rem;

  .title {
    color: gray;
    font-weight: 700;
  }

  .field,
  .startDate,
  .organizationName,
  .location,
  .photoGallery,
  .video {
    .label {
      color: #57606f;
      font-size: 16px;
      font-weight: bold;
      margin-right: 10px;
      width: 200px;
    }

    .value {
      font-size: 18px;
    }
  }

  .field,
  .organizationName {
    display: flex;
    align-items: center;
  }

  .startDate,
  .location {
    display: flex;
    align-items: center;
  }

  .photoGallery,
  .video {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .mediaContainer {
    display: flex;
    width: 100%;

    .videoPlayer {
      border-radius: 15px;
    }
  }
}
