.us {
  height: 80%;
  width: 110%;
  padding: 3% 10%;
  display: flex;

  .imageSection {
    height: 100%;
    img {
      border-radius: 10px;
    }
  }

  .about {
    height: 100%;
    .aboutSection {
      font-size: 1.125em;
      color: white;
      line-height: 1.5em;
      margin-bottom: 20px;
    }
  }
}
