.sectionContent {
  background-color: #fff;

  .resultsContainer {

    .cardIcon {
      width: 60px;
      height: 60px;
      padding: 10px;
      margin-bottom: 28px;
      color: #575484;
      background: #f9f9ff;
      border-radius: 20px;
    }
  }

  .anualDonations {
    background-image: url('/ayudar.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2em 2em;

    .description {
      font-weight: 700;
      font-size: 36px;
      line-height: 46px;
      color: #ffffff;
    }

    .number {
      font-weight: 700;
      font-size: 72px;
      line-height: 80px;
      color: #ffffff;
    }
  }
}
