@import '../assets/styles/reset.scss';
@import '../assets/styles/variables.scss';
@import '../assets/styles/shared.scss';

.pageContainer {
  background-color: '#9795B5';
  min-width: '100%';
  margin: 0;
  padding: '0 !important';
  height: '100%';
  overflow-y: 'auto !important';
}
