.table {
  min-width: 650;
  .header {
    color: #fff !important;
    border-bottom: 1px solid #d4d2e3;
  }

  .data {
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: #f5f5f5;
    }
  }
}
