.ourWork {
  height: 80%;
  width: 100%;
  padding: 3% 8%;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  background: #9795b5;
  color: #ffffff;

  .upperTitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
  }
  .subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .stepsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 60px;

    .stepIcon {
      font-size: 100px;
    }
  }
}
