.overline {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #ADABC3;
}

 .title {
   font-weight: 700;
   font-size: 32px;
   line-height: 42px;
   text-align: center;
   color: #575484;
 }

.subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  color: #9B9ECE;
}

.ourWork {
  .stepsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 60px;

    .stepIcon {
      font-size: 100px;
    }
  }
}
