.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.input {
  margin-top: 16px;
}

.sideImageGrid {
  background-image: url('/collaboration.jpeg');
  background-repeat: no-repeat;
  background-color: #5d5a88;
  background-size: cover;
  background-position: center;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  color: #575484;
}

.submitButton {
  width: 180px;
}
