.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.input {
  margin-top: 16px;
}

.formInput {
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  color: #575484;
}

.submitButton {
  width: 180px;
}
