.searchButton {
  margin-top: 5px;
}
.searchIcon {
  margin-top: 6px;
  margin-left: 10px;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #575484;
}

.calendarDescription {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: gray;
  margin-bottom: 10px;
}

.submitButton {
  margin-top: 20px;
  width: 200px;
}

.checkbox {
  color: gray;
}
