.carouselContainer {
  .carouselImage {
    height: 400px;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }

  .carouselControl,
  .autoplayControl {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 50%;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    svg {
      font-size: 2em; // You can adjust the size as you wish
    }
  }
  .autoplayControl {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 20px;
  }
}
