.tabBar {
  padding: 0rem 2rem;
  padding-left: 0;
  border-bottom: 0.1rem solid gray;
  margin: 0rem 2.4rem 0rem 2.4rem;

  ul {
    display: flex;
    flex-direction: row;
    height: 100%;

    li {
      height: 100%;
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-right: 4rem;
      padding: 0.4rem 0.5rem 0.48rem 0.5rem;
      color: gray;
      cursor: pointer;

      &:hover {
        background: gray;
        color: #fff;
      }

      &.selected {
        color: #fff;
        font-weight: bold;
        line-height: 2.4rem;

        &::after {
          content: '';
          display: block;
          width: 4.7rem;
          height: 0.4rem;
          background: #fff;
          margin-bottom: -0.5rem;
        }
      }
    }
  }
}
