.drawerHeader {
  width: 100%;

  .crossButtonContainer {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    cursor: pointer;
    color: #575484;
  }

  .description {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    color: black;
    padding-bottom: 0.8rem;
    margin-top: 0.8rem;
    b {
      font-weight: 700;
    }
  }
}
