@import '@styles/reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
  color-scheme: light !important;
}

body {
  font-family: 'Aeonik', sans-serif;
  background-color: #fafafa;
  font-size: 15px;

  *::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }
  *::-webkit-scrollbar-track {
    background: #f1f2f6;
  }

  *::-webkit-scrollbar-thumb {
    background: $input-main-color !important;
  }

  #portal > div {
    width: 100vw;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
  }
}
