@import '@styles/reset.scss';

:root {
  color-scheme: light !important;
}

body {
  background-color: #fafafa;

  *::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }
  *::-webkit-scrollbar-track {
    background: #f1f2f6;
  }

  *::-webkit-scrollbar-thumb {
    background: $input-main-color !important;
  }

  #portal > div {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
  }

  // This is set to be able to use a Material UI Menu inside a Drawer
  .MuiMenu-root {
    z-index: 100001;
  }
}
