$section-bg: #e5e5e5;
$base-bg: #fff;
$blue: #47abf5;
$border-blue: #2177b8;
$white: #fff;
$black: #000;
$gray: #ced6e0;
$dark-gray: #323944;
$input-main-color: #a4b0be;
$header-background: #090a0a;
$secondary-text: #57606f;
$green: #3ea857;
$soft-green: #ecf6ee;
$text: #212121;
$brand-white: #fafafa;
$text-error: #c0392b;

$dot-red: #bb2c3c;
$yellow-star: #f7d794;
$modals-bg: rgba(0, 0, 0, 0.5);
$radio-border: #cfd6e0;
$success-green: #008848;
$yellow-pending: #eac548;
$new-item-color: #edf7fe;
$orange: #d7751b;
$soft-red: #f9ebea;
$content-grey: #747d8c;
$hover-blue: #f0f9fe;
$purple: #5d5a88;
