.getInTouchModal {
  color: #5d5a88;
  background: #f2f1fa;
  .title {
    font-weight: 700;
    font-size: 48px;
  }
  .subtitle {
    font-weight: 400;
    font-size: 18px;
    color: #9795b5;
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    & > * {
      display: flex;
      justify-content: space-between;
    }

    fieldset {
      border-radius: 15px;
    }

    input {
      background-color: #fafafa;
      border-radius: 15px;
    }
  }

  .messageTextArea {
    background-color: #ffffff;
    border-radius: 15px;
  }
}
