.getInTouchModal {
  position: absolute;
  left: 10%;
  top: 7%;
  width: 40%;
  padding: 2% 4%;
  color: #5d5a88;
  background: #f2f1fa;
  border-radius: 25px;
  .title {
    font-weight: 700;
    font-size: 48px;
  }
  .subtitle {
    font-weight: 400;
    font-size: 18px;
    color: #9795b5;
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    & > * {
      display: flex;
      justify-content: space-between;
    }

    fieldset {
      border-radius: 15px;
    }

    input {
      background-color: #fafafa;
      border-radius: 15px;
    }
  }

  .messageTextArea {
    width: 100%;
    min-height: 100px;
    padding: 24px 24px 0px;
    resize: none;
    background: #ffffff;
    border-radius: 20px;
    font-size: 20px;
  }
}
