.projectContainer {
  min-height: 600px;
  .projectHeader {
    position: relative;
    min-height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;

    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    .content {
      position: absolute;
      width: 100%;
      bottom: 15%;
      padding: 1rem;
      color: #fff;

      .title {
        color: white;
        font-weight: bold;
        margin-bottom: 0.5rem;
        font-weight: 700;
        font-size: 56px;
        line-height: 66px;
      }

      .description {
        width: 30%;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        line-height: 1.4;
      }
    }
  }

  .projectData {
    margin: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 2rem;

    .title {
      font-weight: bold;
      margin-bottom: 0.5rem;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
    }

    .field,
    .startDate,
    .endDate,
    .organizationId,
    .monetaryGoal,
    .acceptsVolunteers,
    .location,
    .photoGallery,
    .video {
      margin-bottom: 0.5rem;

      .label {
        font-weight: bold;
        margin-right: 10px;
      }

      .value {
        margin-bottom: 0.5rem;
      }
    }
  }
}
